* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.c {
  text-align: center;
}
.topbar {
  background-color: #ae1c20;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  position: relative;
}
.topbar1 {
  display: inline-block;
  font-size: 125%;
}

.navigationbar {
  width: 100%;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}
.active {
  text-decoration: underline !important;
  text-decoration: #000;
}
a {
  color: #000;
}
.navbar {
  margin-bottom: 0%;
}

#Logo {
  height: 45px;
  margin-top: -15px;
  display: inline-block;
}
.navbar-brand {
  height: 100%;
}
.menulogo {
  font-size: 150%;
  color: black;
  display: inline-block;
  left: 9%;
}
.menu1 {
  font-size: 150%;
  color: black;
  display: inline-block;
  padding: 5px 15px;
}

.menulink {
  font-size: 150%;
  color: black;
  display: inline-block;
  text-decoration: none;
}

#featureimg {
  width: 100%;
}
.H2A {
  font-size: 200%;
  font-weight: bold;
  color: black;
  padding: 5px;
  margin: 30px 0px;
}
.H2A2 {
  font-size: 200%;
  font-weight: bold;
  color: black;
  padding: 5px;
  margin: 30px 30px 10px 30px;
}
.H2A1 {
  font-size: 30px;
  font-weight: bold;
  color: black;
  padding: 5px;
  margin: 0px 30px;
}
.para01 {
  font-size: 150%;
  color: #000;
  text-align: center;
  padding: 1%;
  margin: 1% 10%;
}
.stats {
  width: 100%;
  background-color: #e5e6e4;
  display: inline-block;
  margin: auto;
  position: relative;
}
img {
  vertical-align: top !important;
  height: 100%;
  margin: auto;
}

.statstext {
  color: #ae1c20;
  font-size: 125%;
  font-weight: bold;
  text-align: center;
}
.statsgroup {
  display: inline-block;
  padding: 30px;
}
.statslogo {
  height: 120px;
  padding: 15px;
  margin: auto;
}
.center {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.center1 {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
p {
  margin: 5px;
}
.statslogos {
  width: 95%;
  margin: 0 auto;
}
.projects {
  background-color: #e5e6e4;
}

.projdetails {
  margin-top: 10px;
}
.projimgdetails {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.068);
  height: 500px;
  position: relative;
  display: inline-block;
  margin: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.projectdetails {
  position: relative;
}

.projimg {
  height: 365px;
  width: 95%;
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
}
.center-cropped {
  object-fit: cover;
  object-position: center;
  height: 370px;
  width: 94%;
}
.det {
  display: inline-block;
}
.p2 {
  font-size: 125%;
  margin: 1% 2.5%;
}
.p3 {
  font-size: 150%;
}
.p4 {
  font-size: 100%;
}

.right {
  position: absolute;
  left: 61%;
}
.Bold {
  font-weight: bold;
}
.space {
  height: 50%;
}
.spacing {
  height: 30px;
}
.btn {
  background-color: #ae1c20;
  margin: 0 auto;
  height: 50px;
  width: 300px;

  border-radius: 25px;
  border: none;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btntxt {
  font-size: 150%;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 5px;
  margin: auto;
  text-align: center;
}

.testi {
  background-color: #e5e6e4;
  margin: 0 auto;
  width: 75%;
  border-radius: 25px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.pic {
  width: 250px;
  display: inline-block;
  margin: auto 50px;
}
.dp {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 0% 10%;
}
.testigp {
  display: inline-block;
  height: 80%;
  width: 95%;
  margin: auto 2%;
}
.quotes {
  height: 48px;
  width: 48px;
}
.quotes-rotate {
  height: 48px;
  width: 48px;
  rotate: 180deg;
  display: inline-block;
}

.text {
  text-align: center;
  font-size: 125%;
  display: inline-block;
}
.subscribe {
  height: 250px;
  background-color: #e5e6e4;
  position: relative;
}
.sub01 {
  margin: 50px 50px;
}
.sub02 {
  width: 600px;
}
.subpart {
  width: 600px;
}
.form02 {
  display: inline-block;
  margin: auto;
  width: 100%;
}
.form {
  width: 300px;
  height: 40px;
  border-color: #000;
  border-width: 1px;
  background-color: white;
}

.footer {
  margin-top: 5%;
  background-color: #e5e6e4;
  padding-bottom: 2%;
}

.logo {
  width: 240px;
  margin-top: 15%;
}

.footerlinks {
  color: black;
  text-decoration: none;
  padding: 5px;
}

.footericons {
  width: 10%;
  position: absolute;
  top: 0%;
}
.mar {
  height: 30px;
  position: relative;
}
.mar01 {
  position: relative;
  width: 100%;
}
.mar02 {
  margin: 0px 30px;
  width: 600px;
  position: relative;
}
.H2 {
  font-size: 150%;
  margin: 0px;
  text-align: center;
}
.footertext {
  margin: 0% 10%;
}

.credentials {
  background-color: #e5e6e4;
  height: 300px;
}
.credgp {
  display: inline-block;
  width: 32%;
  height: 300px;
  position: relative;
}
.credlogo {
  background-color: white;
  height: 150px;
  width: 150px;
  padding: 15px;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  right: 30%;
}
.credlogo1 {
  background-color: white;
  height: 150px;
  width: 150px;
  padding: 15px;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  right: 43%;
}
.credlogo2 {
  background-color: white;
  height: 150px;
  width: 150px;
  padding: 15px;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  right: 35%;
}
.bai {
  height: 110px;
  position: absolute;
  top: 11%;
  left: 11%;
}
.ici {
  height: 100px;
  position: absolute;
  top: 15%;
  left: 19%;
}
.iov {
  width: 110px;
  position: absolute;
  top: 37%;
  left: 17%;
}
.align {
  position: absolute;
  left: 5%;
  top: 65%;
}
.disinline-block {
  display: inline-block;
  width: 49%;
}
.para02 {
  display: inline-block;
  font-size: 150%;
  color: #000;
  text-align: left;
  padding: 5px;
  margin: 5px 100px;
}
li {
  padding: 5px 20px;
}

.missionimg {
  display: inline-block;
  height: 360px;
  width: 480px;
  margin: 30px;
  padding: 5px;
}
.mission {
  height: 450px;
  position: relative;
}
.missionstatement {
  width: 60%;
  display: inline-block;
  position: absolute;
  top: 0%;
}
.missionimg1 {
  width: 50%;
  display: inline-block;
  position: absolute;
  top: 0%;
  left: 57%;
}
.cred02 {
  height: 620px;
  padding: 30px;
  background-color: #e5e6e4;
  margin: 0 auto;
}
.credimggroup {
  width: 49%;
  display: inline-block;
}
.credimgdetails {
  background-color: white;
  height: 385px;
  position: relative;
  margin: 0px 30px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.credimgdetails {
  position: relative;
}

.credimg {
  height: 365px;
  width: 97%;
  position: relative;
  margin: 10px;
}
.creddetails {
  margin: 5px;
}
.credimgs {
  margin: 0 auto;
}
.map {
  margin: 30px 100px;
}
.project {
  background-color: white;
}
.left.carousel-control {
  background-image: none !important;
}
.right.carousel-control {
  background-image: none !important;
}
.glyphicon-chevron-right:before {
  color: #ae1c20;
}
.glyphicon-chevron-left:before {
  color: #ae1c20;
}
#myCarousel {
  margin-bottom: 30px;
}

.carousel-inner {
  overflow: visible !important;
}
.carousel-indicators li {
  border: 1px solid #ae1c20 !important;
}
.carousel-indicators .active {
  background-color: #ae1c20 !important;
}

.carousel-indicators {
  bottom: 10px !important;
}
