* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.c {
  text-align: center;
}
.topbar {
  background-color: #ae1c20;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  position: relative;
}
.topbar1 {
  display: inline-block;
  font-size: 125%;
}

.navigationbar {
  width: 100%;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}
.act {
  text-decoration: underline !important;
  text-decoration: #000;
}
a {
  color: #000;
}
.navbar {
  margin-bottom: 0%;
}

#Logo {
  height: 65px;
  display: inline-block;
}
.navbar-brand {
  height: 100%;
  padding: 0%;
}
.menulogo {
  font-size: 150%;
  color: black;
  display: inline-block;
  left: 9%;
}
.menu1 {
  font-size: 150%;
  color: black;
  display: inline-block;
  padding: 5px 15px;
}

.menulink {
  font-size: 150%;
  color: black;
  display: inline-block;
  text-decoration: none;
}

#featureimg {
  width: 100%;
}
.H2A {
  font-size: 175%;
  font-weight: bold;
  color: black;
  padding: 5px;
  margin: 10px 0px;
}
.H2A2 {
  font-size: 200%;
  font-weight: bold;
  color: black;
  padding: 5px;
  margin: 30px 30px 10px 30px;
}
.H2A1 {
  font-size: 30px;
  font-weight: bold;
  color: black;
  padding: 5px;
  margin: 0px 30px;
}
.para01 {
  font-size: 150%;
  color: #000;
  text-align: center;
  padding: 1%;
  margin: 1% 10%;
}
.stats {
  width: 100%;
  background-color: #e5e6e4;
  display: inline-block;
  margin: auto;
  position: relative;
}
img {
  vertical-align: top !important;
  height: 100%;
  margin: auto;
}

.statstext {
  color: #ae1c20;
  font-size: 125%;
  font-weight: bold;
  text-align: center;
}
.statsgroup {
  padding: 10%;
}
.statslogo {
  height: 120px;
  padding: 1%;
  margin: auto;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.center1 {
  margin: auto;
  width: 50%;
}
p {
  margin: 5px;
}
.statslogos {
  margin: 0 auto;
}
.projects {
  background-color: #e5e6e4;
  padding-bottom: 25px;
}

.projdetails {
  margin-top: 10px;
}
.projimgdetails {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.068);
  height: 500px;
  width: 350px;
  margin: 20px auto;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.projectdetails {
  position: relative;
}

.projimg {
  height: 365px;
  width: 95%;
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
}
.center-cropped {
  object-fit: cover;
  object-position: center;
  height: 370px;
  width: 94%;
}
.det {
  display: inline-block;
}
.p2 {
  font-size: 125%;
  margin: 1% 2.5%;
}
.p3 {
  font-size: 150%;
}
.p4 {
  font-size: 100%;
}

.Bold {
  font-weight: bold;
}
.space {
  height: 50%;
}
.spacing {
  height: 2px;
}
.btn {
  background-color: #ae1c20;
  margin: 0 auto;
  height: 50px;
  width: 300px;

  border-radius: 25px;
  border: none;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btntxt {
  font-size: 150%;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 5px;
  margin: auto;
  text-align: center;
}

.testi {
  background-color: #e5e6e4;
  margin: 0 auto;
  width: 75%;
  border-radius: 25px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.pic {
  width: 250px;
  margin: 5% 5% 15% 5%;
}
.dp {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 10% 10% 5% 10%;
}
.testigp {
  margin: 5% 10%;
}
.quotes {
  height: 48px;
  width: 48px;
}
.quotes-rotate {
  height: 48px;
  width: 48px;
  rotate: 180deg;
}

.text {
  text-align: center;
  font-size: 125%;
}
.subscribe {
  height: 250px;
  background-color: #e5e6e4;
  position: relative;
}
.sub01 {
  margin: 50px 50px;
}
.sub02 {
  width: 600px;
}
.subpart {
  width: 600px;
}
.form02 {
  display: inline-block;
  margin: auto;
  width: 100%;
}
.form {
  width: 300px;
  height: 40px;
  border-color: #000;
  border-width: 1px;
  background-color: white;
}
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.footer {
  background-color: #e5e6e4;
  padding-bottom: 2%;
  margin-top: 1%;
}

.logo {
  width: 210px;
  margin-top: 5%;
}

.footerlinks {
  color: black;
  text-decoration: none;
}

.footericons {
  width: 10%;
  position: absolute;
  top: 0%;
}
.mar {
  height: 30px;
}
.mar01 {
  position: relative;
  width: 100%;
}
.mar02 {
  margin: 0px 35px;
  position: relative;
}
.mar03 {
  margin: 0px 25px;
}
.H2 {
  font-size: 150%;
  margin: 0px;
  text-align: center;
}

.credentials {
  background-color: #e5e6e4;
}
.credgp {
  padding: 2%;
  margin: 2%;
}

.credlogo {
  background-color: white;
  height: 150px;
  width: 150px;
  padding: 15px;
  border-radius: 50%;
  margin: auto;
}

.bai {
  height: 90%;
  margin: auto;
}
.ici {
  width: 80%;
  height: 80%;
  margin: 10% 10%;
}
.iov {
  width: 90%;
  height: 50%;
  margin: 25% 7%;
}

.para02 {
  display: inline-block;
  font-size: 150%;
  color: #000;
  text-align: left;
  padding: 5px;
  margin: 5px 100px;
}
li {
  padding: 5px 20px;
}
.missionstatement {
  margin: 5% 5%;
}

.missionimg {
  height: 360px;
  width: 100%;
  margin: 5%;
  padding: 5px;
}

.cred02 {
  padding: 30px;
  background-color: #e5e6e4;
}

.credimgdetails {
  background-color: white;
  margin: 20px 0px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.credimg {
  height: 95%;
  width: 98%;
  margin: 1%;
}

.credimgs {
  margin: 0 auto;
}

.project {
  background-color: white;
}
.left.carousel-control {
  background-image: none !important;
}
.right.carousel-control {
  background-image: none !important;
}
.glyphicon-chevron-right:before {
  color: #ae1c20;
}
.glyphicon-chevron-left:before {
  color: #ae1c20;
}
#myCarousel {
  margin-bottom: 30px;
}

.carousel-inner {
  overflow: visible !important;
}
.carousel-indicators li {
  border: 1px solid #ae1c20 !important;
}
.carousel-indicators .active {
  background-color: #ae1c20 !important;
}

.carousel-indicators {
  bottom: 10px !important;
}
